<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restful Authentication with NodeJS & AngularJS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/loading-bar/loading-bar.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>

<body ng-app="xMonitorApp">
<div class="container" ng-show="authenticated">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="HomeCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">X-Monitor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home.message">Message</a></li>
                    <li><a ui-sref="home.users">Users</a></li>
                    <li><a ui-sref="home.payments">Payments</a></li>
                    <li><a ui-sref="home.events">Events</a></li>
                    <li><a ui-sref="home.statistics">Statistics</a></li>
                    <li><a ui-sref="home.pci">App PCI</a></li>
                    <li><a ui-sref="home.admin">Admin</a></li>
                    <li><a ng-href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<!--<input type="text" date-time ng-model="test" required="true" view="hours" partial="true">-->

<div class="container-fluid" ui-view>
</div> <!-- /container -->
<!--<script src="node_modules/jquery/dist/jquery.min.js"></script>-->
<!--<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="scripts/SFS2X_API_JS.js"></script>-->


<!--<script src="node_modules/angular/angular.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>-->
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

<!-- chart -->
<script src="lib/chart/Chart.js"></script>
<!--<script src="lib/angular-bootstrap.js"></script>-->
<script src="lib/chart/angular-chart.js"></script>
<!-- datepicker -->
<script src="lib/datetimepicker/datetimepicker.js"></script>
<!--<script src="lib/datepicker/datepicker.js"></script>
<script src="lib/datepicker/datePickerUtils.js"></script>
<script src="lib/datepicker/dateRanger.js"></script>
<script src="lib/datepicker/input.js"></script>-->
<!-- moment -->
<script src="node_modules/angular-moment/node_modules/moment/moment.js"></script>
<script src="node_modules/angular-moment/angular-moment.js"></script>


<script src="node_modules/ng-file-upload/dist/angular-file-upload-shim.min.js"></script>
<script src="node_modules/ng-file-upload/dist/angular-file-upload.min.js"></script>
<script src="node_modules/ui-router/angular-ui-router.js"></script>
<script src="lib/ngStorage.js"></script>
<script src="lib/loading-bar/loading-bar.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/constant.conf.js"></script>
<!-- Controllers -->
<script src="scripts/controllers/login.ctrl.js"></script>
<script src="scripts/controllers/base.ctrl.js"></script>
<script src="scripts/controllers/home.ctrl.js"></script>
<script src="scripts/controllers/pay.ctrl.js"></script>
<script src="scripts/controllers/message.ctrl.js"></script>
<script src="scripts/controllers/stat.ctrl.js"></script>
<script src="scripts/controllers/pci.ctrl.js"></script>
<script src="scripts/controllers/event.ctrl.js"></script>
<script src="scripts/controllers/chart.ctrl.js"></script>
<script src="scripts/controllers/user.ctrl.js"></script>
<script src="scripts/controllers/admin.ctrl.js"></script>
<!-- Services -->
<script src="scripts/services/authen.svs.js"></script>
<script src="scripts/services/main.svs.js"></script>
<script src="scripts/services/flash.svs.js"></script>
<script src="scripts/services/UtilityFunctions.js"></script>
<script src="scripts/services/SFS.svs.js"></script>
<!-- Directives -->
<script src="scripts/directives/_paginate.js"></script>
<script src="scripts/directives/_confirmClick.js"></script>
<!-- Filters -->
<script src="scripts/filters/limitText.filter.js"></script>
</body>
</html>
