<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Played User Statistic</strong>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <fieldset class="col-lg-12 col-md-12 scheduler-border">
                    <legend class="scheduler-border">User Played</legend>
                    <form ng-submit="playedUserFilter()">
                        <div class="form-group">
                            <input class="form-control stat" ng-model="playedUser.from" ng-required="true" type="text" name="Start Time" placeholder="Start Time" />
                        </div>
                        <div class="form-group">
                            <input class="form-control stat" ng-model="playedUser.to" ng-required="true" type="text" name="End Time" placeholder="End Time" />
                        </div>
                        <input type="submit" class="btn btn-primary" value="Query"/>
                    </form>
                    <div style="clear:both"></div>
                    <div class="time-filter">
                        <div class="form-group">
                            <input class="form-control" ng-model="playedUser.amount" ng-value="1" type="text" name="Start Time" placeholder="Number" />
                            <strong> : </strong>
                            <select ng-model="playedUser.type" class="form-control" ng-change="playedUserUpdate()" ng-init="playedUser.type = 'day'">
                                <option value="day">Days</option>
                                <option value="week">Weeks</option>
                                <option value="month">Month</option>
                            </select>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <hr/>
                    <h1>{{userPlayedCount}}</h1>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>New User Statistic</strong>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <fieldset class="col-lg-12 col-md-12 scheduler-border">
                    <legend class="scheduler-border">New User</legend>
                    <form ng-submit="newUserFilter()">
                        <div class="form-group">
                            <input class="form-control stat" ng-model="newUser.from" ng-required="true" type="text" name="Start Time" placeholder="Start Time" />
                        </div>
                        <div class="form-group">
                            <input class="form-control stat" ng-model="newUser.to" ng-required="true" type="text" name="End Time" placeholder="End Time" />
                        </div>
                        <input type="submit" class="btn btn-primary" value="Query" />
                        <div style="clear:both"></div>
                    </form>
                    <div class="time-filter">
                        <div class="form-group">
                            <input class="form-control " type="text" name="Start Time" placeholder="Number" ng-value="1" ng-model="newUser.amount"/>
                            <strong> : </strong>
                            <select ng-model="newUser.type" class="form-control" ng-change="newUserUpdate()" ng-init="newUser.type = 'day'">
                                <option value="day">Days</option>
                                <option value="week">Weeks</option>
                                <option value="month">Month</option>
                            </select>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <hr/>
                    <h1>{{newUserCount}}</h1>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Game Statistic</strong>
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <fieldset class="col-lg-12 col-md-12 scheduler-border">
                <legend class="scheduler-border">Games Statistics</legend>
                <form ng-submit="gameFilter()">
                    <div class="form-group">
                        <input class="form-control stat" ng-model="gameData.from" ng-required="true" type="text" name="Start Time" placeholder="Start Time" />
                    </div>
                    <div class="form-group">
                        <input class="form-control stat" ng-model="gameData.to" ng-required="true" type="text" name="End Time" placeholder="End Time" />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Query" />
                    <div style="clear:both"></div>
                </form>
                <div class="time-filter">
                    <div class="form-group">
                        <input class="form-control " type="text" name="Start Time" placeholder="Number" ng-value="1" ng-model="gameData.amount"/>
                        <strong> : </strong>
                        <select ng-model="gameData.type" class="form-control" ng-change="gameUpdate()" ng-init="gameData.type = 'day'">
                            <option value="day">Days</option>
                            <option value="week">Weeks</option>
                            <option value="month">Month</option>
                        </select>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <hr/>
                <h1>0</h1>
                <ul id="double" ng-repeat="game in games">
                    <li><strong>{{game.name}} : </strong> {{game.amount}}</li>
                </ul>
            </fieldset>

        </div>
    </div>
</div>
</div>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Task Statistic</strong>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <fieldset class="col-lg-12 col-md-12 scheduler-border">
                    <legend class="scheduler-border">Task Static</legend>

                    <form ng-submit="taskFilter()">
                        <div class="form-group">
                            <input class="form-control stat" ng-model="task.from" ng-required="true" type="text" name="Start Time" placeholder="Start Time" />
                        </div>
                        <div class="form-group">
                            <input class="form-control stat" ng-model="task.to" ng-required="true" type="text" name="End Time" placeholder="End Time" />
                        </div>
                        <input type="submit" class="btn btn-primary" value="Query" />
                        <div style="clear:both"></div>
                    </form>
                    <div class="time-filter">
                        <div class="form-group">
                            <input class="form-control " type="text" name="Start Time" placeholder="Number" ng-value="1" ng-model="task.amount"/>
                            <strong> : </strong>
                            <select ng-model="task.type" class="form-control" ng-change="taskFilter()" ng-init="task.type = 'day'">
                                <option value="day">Days</option>
                                <option value="week">Weeks</option>
                                <option value="month">Month</option>
                            </select>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <hr/>
                    <h3>Total tasks completed: {{taskCount}}</h3>
                    <h3>Task types: {{tasks.length}}</h3>
                </fieldset>
            </div>
            <div class="form-inline">
                <fieldset class="col-lg-12 col-md-12 scheduler-border">
                    <legend class="scheduler-border">Task Detail</legend>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> No. </th>
                            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse"> Task Name</a> </th>
                            <th><a href="" ng-click="predicate = 'amount'; reverse=!reverse"> Count </a> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="task in tasks |orderBy:predicate:reverse | itemsPerPage: pageSize track by $index">
                            <td> {{$index+1}}</td>
                            <td> {{task.name}}</td>
                            <td> {{task.amount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>

