<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Detail Message</strong>
    </div>
    <div class="panel-body">
        <div class="data">
            <p><strong>Title :</strong> {{event.title}}</p><br/>
            <p><strong>Content :</strong> {{event.content}}</p><br/>
            <p><strong>Status :</strong> {{event.active === 1 ? 'Active' : 'Inactive'}}</p>
            <p><strong>Create Date :</strong> {{event.created_date | date : "yyyy/mm/dd"}}</p>
        </div>
    </div>
</div>
